@font-face {
	font-family: "Pix-R";
	src: url("@fonts/PixelifySans-Regular.ttf");
}
@font-face {
	font-family: "Pix-M";
	src: url("@fonts/PixelifySans-Medium.ttf");
}
@font-face {
	font-family: "Pix-SB";
	src: url("@fonts/PixelifySans-SemiBold.ttf");
}
@font-face {
	font-family: "Pix-B";
	src: url("@fonts/PixelifySans-Bold.ttf");
}
