body {
	min-height: 100%;
	width: 100%;
	background-color: #9db6c7;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
///01
.body-calculator {
	width: 50%;
}
.calculator {
	width: 100%;
	height: 33vw;
	display: flex;
	padding: 0 0 0 70px;
	flex-direction: column;
	justify-content: center;
	background-color: #b1daea;
	border-right: 2px solid #01556a;
	border-bottom: 2px solid #01556a;
	border-radius: 0 0 40px 0;
	box-shadow: 5px 5px 15px 3px #01556a;
	&__input {
		width: 250px;
		height: 30px;
		border-radius: 0 20px 0 20px;
		border: none;
		padding: 0 20px;
	}
	&__functions {
		display: flex;
		justify-content: space-between;
		width: 250px;
		margin: 10px 0;
	}
	&__btn {
		width: 50px;
		height: 25px;
		border: none;
		background-color: #0195ae;
		font-size: 17px;
		text-align: center;
		font-weight: 700;
		border-radius: 0 10px 0 10px;
		&:active {
			border: 4px solid #01556a;
		}
	}
	&__result-block {
		max-width: 250px;
		margin: 10px 135px 0 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__result {
		margin: 10px 0 0 0;
		font-weight: 400;
		font-size: 20px;
		padding: 0 20px 0 0;
	}
	&__show-result {
		background-color: #0195ae;
		border: none;
		border-radius: 0 10px 0 10px;
		padding: 5px 20px;
		font-weight: 700;
		letter-spacing: 1px;
	}
}
//02
.icon {
	cursor: pointer;
	width: 25px;
	height: 25px;
}

.todo {
	width: 50%;
	position: absolute;
	top: 0;
	right: 0;
	min-height: 100%;
	background-color: #2c4928;
	box-shadow: inset 0 0 10px 10px #192819;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 150px 0 0 0;
	overflow: hidden;

	&__title {
		text-shadow: 0 0 15px white;
		font-size: 120px;
		color: #719b25;
		letter-spacing: 8px;
		font-weight: 700;
		font-family: Verdana;
	}
	&__input {
		border-radius: 8px;
		padding: 5px 15px;
		font-size: 20px;
		letter-spacing: 1px;
		line-height: 140%;
		margin: 20px 0 0 0;
		max-width: 420px;
		height: 30px;
		color: #192819;
		font-weight: 600;
		background: #cbe368;
		border-bottom: 2px solid #192819;
		&:focus {
			box-shadow: inset 0 2px 6px 1px #192819;
		}
	}
	&__btn {
		background-color: #cbe368;
		color: #192819;
		width: 150px;
		height: 30px;
		border-radius: 0 0 30px 30px;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 2px;
		font-family: Georgia;
		transition: all 0.4s;
		&:hover {
			color: #cbe368;
			background-color: #192819;
			box-shadow: 0 5px 10px 2px #192819;
		}
	}
	&__list {
		margin: 20px 0 0 0;
	}
}
.list {
	max-width: 420px;
	height: 100%;
	padding: 0 10px;
	&__title {
		margin: 10px 0 30px;
		text-shadow: 0 0 3px white;
		font-size: 40px;
		color: #719b25;
		letter-spacing: 2px;
		font-weight: 500;
		font-family: Verdana;
	}
	&__item {
		border-left: 4px solid #2e6409;
		border-right: 4px solid #2e6409;
		display: flex;
		justify-content: space-between;
		padding: 10px 20px;
		margin: 0 0 10px 0;
		align-items: center;
	}
	&__item-name {
		text-align: left;
		color: #cbe368;
		font-weight: 700;
		font-size: 20px;
		letter-spacing: 1px;
		text-shadow: 0 0 4px #000;
	}
	&__completed {
		color: #192819;
		text-shadow: none;
		text-decoration: line-through;
	}
	&__control {
		min-width: 60px;
		display: flex;
		justify-content: space-between;
	}
}
.missing {
	color: #cbe368;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 2px;
	text-shadow: 0 0 2px white;
}
//03
.date-time {
	width: 50%;
	height: 33vw;
	text-align: right;
	padding: 50px 70px 0;
	&__body {
		margin: 20px 0 0 0;
		height: 120px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__title {
		font-size: 34px;
		font-weight: 700;
		font-family: Verdana;
		letter-spacing: 1px;
		color: #1c222a;
		text-shadow: 0 0 7px white;
	}
	&__output {
		margin: 10px 0 0;
		font-size: 35px;
		font-weight: 700;
		color: #6a655d;
		text-shadow: 0 0 4px #1c222a;
		font-family: "Courier New";
	}
	&__buttons {
		width: 100%;
		padding: 0 0 0 40px;
		display: flex;
		justify-content: space-between;
	}
	&__btn {
		width: 90px;
		height: 40px;
		font-size: 18px;
		font-family: Georgia;
		font-weight: 600;
		letter-spacing: 0.5px;
		border-right: 3px solid #1c222a;
		border-radius: 15px 4px 4px 15px;
	}
	.full {
		background: #dcdcdc;
	}
	.date {
		background: #edb021;
	}
	.time {
		background: #825b00;
	}
}
